@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: "Roboto";
}

header {
  color: #6c757d;
  padding: 0.75rem 2rem;
  grid-column: 1/-1;
  background-color: #e9c46a;
  font-family: "Overlock SC";
  font-size: 1.23rem;
}

aside {
  color: #50514f;
  background-color: #f6f5f8;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filters ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filters li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.13rem;
  font-weight: 300;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

li:hover {
  background-color: white;
}

i {
  flex-basis: 10%;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.add_project {
  border: none;
  background: #50514f4f;
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 99px;
  width: 30px;
  aspect-ratio: 1;
  cursor: pointer;
}

.add_project:active {
  background-color: #50514f3f;
}

.project_list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.list_items {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.13rem;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
}

main {
}

footer {
  padding: 0.25rem 2rem;
  background-color: #e9c46a;
  font-family: "Overlock SC";
  font-size: 1rem;
  color: #6c757d;

  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
